{{!-- <h2>{{name}}</h2>
<img src={{image}} />
{{#each comments}}
  <p>{{comment_text}}</p>
{{/each}}
{{#each evals}}
  <p>{{eval_value}}</p>
{{/each}} --}}

<div class="container text-center">
  <div class="row">
    <div class="col">
<div class="card text-center" style="width: 18rem;">
  <img src={{image}} class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">This was done by Alice Neel in 1981.</p>
  </div>
  {{#each comments}}
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{comment_text}}</li>
    {{/each}}
    {{#each evals}}
    <li class="list-group-item">{{eval_value}}</li>
    {{/each}}
  </ul>
  </div>
  </div>
  </div>
  